In [3]:
x=[]#blank list
x2=[1,2,3]# list with 3 elements
x3=[12,45,'apple','orange']#list with 4 elements
x4=['aman','vijay','ritik']

In [4]:
x2*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
x5=x2+x3
print(x5)

[1, 2, 3, 12, 45, 'apple', 'orange']

In [6]:
y1=['bahubali','kgf','rrr','war','kabir singh']
y2=['flying jatt','laila','housefull4','baaghi3','radhe shyam']

In [7]:
y3=y1+y2
print(y3)

['bahubali', 'kgf', 'rrr', 'war', 'kabir singh', 'flying jatt', 'laila', 'housefull4', 'baaghi3', 'radhe shyam']

In [8]:
y3.append('vikram vedha')
y3.append('toofan')
print(y3)

['bahubali', 'kgf', 'rrr', 'war', 'kabir singh', 'flying jatt', 'laila', 'housefull4', 'baaghi3', 'radhe shyam', 'vikram vedha', 'toofan']

In [9]:

y3.insert(0,'hera pheri')
print(y3)

['hera pheri', 'bahubali', 'kgf', 'rrr', 'war', 'kabir singh', 'flying jatt', 'laila', 'housefull4', 'baaghi3', 'radhe shyam', 'vikram vedha', 'toofan']

In [10]:
sequals=['harry potter','harry potter2']
y3.extend(sequals)
print(y3)

['hera pheri', 'bahubali', 'kgf', 'rrr', 'war', 'kabir singh', 'flying jatt', 'laila', 'housefull4', 'baaghi3', 'radhe shyam', 'vikram vedha', 'toofan', 'harry potter', 'harry potter2']

In [11]:
y3[:5]

['hera pheri', 'bahubali', 'kgf', 'rrr', 'war']

In [12]:
y3[-5:]

['radhe shyam', 'vikram vedha', 'toofan', 'harry potter', 'harry potter2']

In [13]:
y3.reverse()

In [14]:
print(y3)

['harry potter2', 'harry potter', 'toofan', 'vikram vedha', 'radhe shyam', 'baaghi3', 'housefull4', 'laila', 'flying jatt', 'kabir singh', 'war', 'rrr', 'kgf', 'bahubali', 'hera pheri']

In [15]:
y3[::-1]

['hera pheri',
 'bahubali',
 'kgf',
 'rrr',
 'war',
 'kabir singh',
 'flying jatt',
 'laila',
 'housefull4',
 'baaghi3',
 'radhe shyam',
 'vikram vedha',
 'toofan',
 'harry potter',
 'harry potter2']

In [16]:
y3.sort(reverse=True)
print(y3)

['war', 'vikram vedha', 'toofan', 'rrr', 'radhe shyam', 'laila', 'kgf', 'kabir singh', 'housefull4', 'hera pheri', 'harry potter2', 'harry potter', 'flying jatt', 'bahubali', 'baaghi3']

In [17]:
import random as rnd

In [18]:
rnd.shuffle(y3)
print(y3)

['housefull4', 'baaghi3', 'harry potter', 'kabir singh', 'flying jatt', 'hera pheri', 'kgf', 'bahubali', 'war', 'rrr', 'laila', 'vikram vedha', 'toofan', 'radhe shyam', 'harry potter2']

In [19]:
rnd.choice(y3)

'vikram vedha'

In [20]:
rnd.choices(y3,k=4)

['toofan', 'baaghi3', 'harry potter2', 'vikram vedha']

In [21]:
y3.index('bahubali')

7

In [22]:
y3.pop() #removes last element

'harry potter2'

In [23]:
y3.pop(3)

'kabir singh'

In [24]:
print(y3)

['housefull4', 'baaghi3', 'harry potter', 'flying jatt', 'hera pheri', 'kgf', 'bahubali', 'war', 'rrr', 'laila', 'vikram vedha', 'toofan', 'radhe shyam']

In [4]:
a= [1,2,3,4,5]
b = a  # data structure is not copied,only reference is copied
b[0]=100
a[2]=200
print(a)
print(b)
print(a is b)

[100, 2, 200, 4, 5]
[100, 2, 200, 4, 5]
True

In [5]:
z=a.copy()
z.append(10)
a.remove(5)
print(a)
print(b)
print(z)
print(a is z)

[100, 2, 200, 4]
[100, 2, 200, 4]
[100, 2, 200, 4, 5, 10]
False