In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_excel('amazon.xlsx')
df

,brand,title,price,rating,oprice,disc
0,Fastrack,Analog Black Dial Men's Watch-3272NL02,"4,395",5.0,"₹4,395",NaN
1,Fastrack,Analog Brown Dial Men's Watch-3273NL03,"2,695",4.0,"₹2,695",NaN
2,Fastrack,Analog Blue Dial Men's Watch-3273NL02,"1,886",M.R.P:,"₹1,886",NaN
3,boAt,"boAt Wave Style with 1.69"" Square HD Display, ...","1,199",3.9,"₹1,199",NaN
4,TIMEWEAR,Analog Day Date Functioning Stainless Steel Ch...,319,3.8,₹319,NaN
...,...,...,...,...,...,...
290,Fastrack,Trendies Analog Black Dial Men's Watch-NL38048...,"2,295",4.2,"₹2,295",NaN
291,povty,povty Talking Watch Digital Watch (Specially f...,299,3.7,₹299,NaN
292,Sonata,RPM Analog Grey Dial Men's Watch-NN77031SL03/N...,"1,619",4.0,"₹1,619",NaN
293,Fastrack,Trendies Analog Black Dial Men's Watch NM38045...,"2,195",4.3,"₹2,195",NaN
294,SELLORIA,Dial Multi-Functional White Transparent Strap ...,299,3.2,₹299,NaN

In [3]:
df['brand']

0      Fastrack
1      Fastrack
2      Fastrack
3          boAt
4      TIMEWEAR
         ...
290    Fastrack
291       povty
292      Sonata
293    Fastrack
294    SELLORIA
Name: brand, Length: 295, dtype: object

In [4]:
df['price']

0      4,395
1      2,695
2      1,886
3      1,199
4        319
       ...
290    2,295
291      299
292    1,619
293    2,195
294      299
Name: price, Length: 295, dtype: object

In [5]:
def clean_price_column(price):
    if isinstance(price, str):
        price = price.replace(',',"")
        price = float(price)
        return price
    return price

In [6]:
# test 
clean_price_column('12,43875476638')

1243875476638.0

In [7]:
# testing the function on the column
df['price'].apply(clean_price_column)

0      4395.0
1      2695.0
2      1886.0
3      1199.0
4       319.0
        ...
290    2295.0
291     299.0
292    1619.0
293    2195.0
294     299.0
Name: price, Length: 295, dtype: float64

In [8]:
# implementing the function on the column
df['clean_price'] = df['price'].apply(clean_price_column)
df

,brand,title,price,rating,oprice,disc,clean_price
0,Fastrack,Analog Black Dial Men's Watch-3272NL02,"4,395",5.0,"₹4,395",NaN,4395.0
1,Fastrack,Analog Brown Dial Men's Watch-3273NL03,"2,695",4.0,"₹2,695",NaN,2695.0
2,Fastrack,Analog Blue Dial Men's Watch-3273NL02,"1,886",M.R.P:,"₹1,886",NaN,1886.0
3,boAt,"boAt Wave Style with 1.69"" Square HD Display, ...","1,199",3.9,"₹1,199",NaN,1199.0
4,TIMEWEAR,Analog Day Date Functioning Stainless Steel Ch...,319,3.8,₹319,NaN,319.0
...,...,...,...,...,...,...,...
290,Fastrack,Trendies Analog Black Dial Men's Watch-NL38048...,"2,295",4.2,"₹2,295",NaN,2295.0
291,povty,povty Talking Watch Digital Watch (Specially f...,299,3.7,₹299,NaN,299.0
292,Sonata,RPM Analog Grey Dial Men's Watch-NN77031SL03/N...,"1,619",4.0,"₹1,619",NaN,1619.0
293,Fastrack,Trendies Analog Black Dial Men's Watch NM38045...,"2,195",4.3,"₹2,195",NaN,2195.0
294,SELLORIA,Dial Multi-Functional White Transparent Strap ...,299,3.2,₹299,NaN,299.0

In [9]:
def clean_price_column(rating):
    if isinstance(rating, str):
        if len(rating) <=3:
            rating = float(rating)
            return rating
        else:
            return np.nan
        return rating

In [10]:
# test
clean_price_column('nop review')

nan

In [11]:
# testing the fuction on the column
df['rating'].apply(clean_price_column)

0      5.0
1      4.0
2      NaN
3      3.9
4      3.8
      ...
290    4.2
291    3.7
292    4.0
293    4.3
294    3.2
Name: rating, Length: 295, dtype: float64

In [12]:
# implementing the function on the column
df['rating'] = df['rating'].apply(clean_price_column)
df

,brand,title,price,rating,oprice,disc,clean_price
0,Fastrack,Analog Black Dial Men's Watch-3272NL02,"4,395",5.0,"₹4,395",NaN,4395.0
1,Fastrack,Analog Brown Dial Men's Watch-3273NL03,"2,695",4.0,"₹2,695",NaN,2695.0
2,Fastrack,Analog Blue Dial Men's Watch-3273NL02,"1,886",NaN,"₹1,886",NaN,1886.0
3,boAt,"boAt Wave Style with 1.69"" Square HD Display, ...","1,199",3.9,"₹1,199",NaN,1199.0
4,TIMEWEAR,Analog Day Date Functioning Stainless Steel Ch...,319,3.8,₹319,NaN,319.0
...,...,...,...,...,...,...,...
290,Fastrack,Trendies Analog Black Dial Men's Watch-NL38048...,"2,295",4.2,"₹2,295",NaN,2295.0
291,povty,povty Talking Watch Digital Watch (Specially f...,299,3.7,₹299,NaN,299.0
292,Sonata,RPM Analog Grey Dial Men's Watch-NN77031SL03/N...,"1,619",4.0,"₹1,619",NaN,1619.0
293,Fastrack,Trendies Analog Black Dial Men's Watch NM38045...,"2,195",4.3,"₹2,195",NaN,2195.0
294,SELLORIA,Dial Multi-Functional White Transparent Strap ...,299,3.2,₹299,NaN,299.0

In [13]:
def clean_price_column(price):
    if isinstance(price, str):
        price = price.replace(',',"").replace('₹','')
        price = float(price)
        return price
    return price

In [14]:
df['clean_oprice'] = df['oprice'].apply(clean_price_column)
df

,brand,title,price,rating,oprice,disc,clean_price,clean_oprice
0,Fastrack,Analog Black Dial Men's Watch-3272NL02,"4,395",5.0,"₹4,395",NaN,4395.0,4395.0
1,Fastrack,Analog Brown Dial Men's Watch-3273NL03,"2,695",4.0,"₹2,695",NaN,2695.0,2695.0
2,Fastrack,Analog Blue Dial Men's Watch-3273NL02,"1,886",NaN,"₹1,886",NaN,1886.0,1886.0
3,boAt,"boAt Wave Style with 1.69"" Square HD Display, ...","1,199",3.9,"₹1,199",NaN,1199.0,1199.0
4,TIMEWEAR,Analog Day Date Functioning Stainless Steel Ch...,319,3.8,₹319,NaN,319.0,319.0
...,...,...,...,...,...,...,...,...
290,Fastrack,Trendies Analog Black Dial Men's Watch-NL38048...,"2,295",4.2,"₹2,295",NaN,2295.0,2295.0
291,povty,povty Talking Watch Digital Watch (Specially f...,299,3.7,₹299,NaN,299.0,299.0
292,Sonata,RPM Analog Grey Dial Men's Watch-NN77031SL03/N...,"1,619",4.0,"₹1,619",NaN,1619.0,1619.0
293,Fastrack,Trendies Analog Black Dial Men's Watch NM38045...,"2,195",4.3,"₹2,195",NaN,2195.0,2195.0
294,SELLORIA,Dial Multi-Functional White Transparent Strap ...,299,3.2,₹299,NaN,299.0,299.0