String Indexing and slicing

In [4]:
wish="I want to be a data scientist"

In [5]:
print(wish[0]) # indexing

I

In [7]:
print(wish[0:100]) #slicing

I want to be a data scientist

In [8]:
print(wish[20:100])

scientist

In [9]:
print(wish[:4])

I wa

In [20]:
print(wish[5:])

t to be a data scientist

In [21]:
print(wish[4:len(wish)])

nt to be a data scientist

In [11]:
name="MAYANK PATEL"

In [12]:
print(name)

MAYANK PATEL

In [13]:
fname=name[:8]
print(fname)

MAYANK P

In [14]:
lname=name[9:]
print(lname)

TEL

In [15]:
print(fname,lname)

MAYANK P TEL

string reverse - with slicing

In [16]:
name[::-1]

'LETAP KNAYAM'

In [17]:
name[::2]

'MYN AE'

In [18]:
name[1::2]

'AAKPTL'

In [19]:
name[::-1][:9][::-1]

'ANK PATEL'

In [20]:
data='34.07%'

In [21]:
print(float(data[:-1]))   # string to float

34.07

In [22]:
value='$167367637+'

In [23]:
print(int(value[1:-1]))

167367637

In [24]:
print(chr(654525))  # it will display the character at that index

òŸ²½

In [25]:
with open('char.txt', 'w', errors='ignore') as f:
    for i in range(16000):  # it can be 16 million
        try:f.write(f'{i} {chr(i)}\n')
        except:pass
    print("done")

done

In [26]:
print(ord('a'))  # it will show the indexing value of a character
print(ord('9'))
print(ord('A'))
print(ord('0'))
print(ord('1'))
print(ord('2'))

97
57
65
48
49
50

In [28]:
a,b= "Mayank","Patel"

In [29]:
ab=a+' '+b
print(ab)

Mayank Patel

In [33]:
phrase="I am a problem solver and want to become data scientist "

In [34]:
print(phrase.capitalize())
print(phrase.upper())
print(phrase.lower())
print(phrase.split())
print(phrase.lstrip())
print(phrase.rstrip())
print(phrase.strip())

I am a problem solver and want to become data scientist
I AM A PROBLEM SOLVER AND WANT TO BECOME DATA SCIENTIST
i am a problem solver and want to become data scientist
['I', 'am', 'a', 'problem', 'solver', 'and', 'want', 'to', 'become', 'data', 'scientist']
I am a problem solver and want to become data scientist
I am a problem solver and want to become data scientist
I am a problem solver and want to become data scientist

In [35]:
def Rspace(phrase):
    return phrase.replace(" ", "") # remove spce from a string

Rspace(phrase)

'Iamaproblemsolverandwanttobecomedatascientist'