String Indexing and slicing

In [2]:
wish="I want to be a data scientist"

In [3]:
print(wish[0]) # indexing

I

In [4]:
print(wish[0:100]) #slicing

I want to be a data scientist

In [5]:
print(wish[20:100])

scientist

In [6]:
print(wish[:4])

I wa

In [7]:
print(wish[5:])

t to be a data scientist

In [8]:
print(wish[4:len(wish)])

nt to be a data scientist

In [9]:
name="MAYANK PATEL"

In [10]:
print(name)

MAYANK PATEL

In [11]:
fname=name[:8]
print(fname)

MAYANK P

In [12]:
lname=name[9:]
print(lname)

TEL

In [13]:
print(fname,lname)

MAYANK P TEL

string reverse - with slicing

In [14]:
name[::-1]

'LETAP KNAYAM'

In [15]:
name[::2]

'MYN AE'

In [16]:
name[1::2]

'AAKPTL'

In [17]:
name[::-1][:9][::-1]

'ANK PATEL'

In [18]:
data='34.07%'

In [19]:
print(float(data[:-1]))   # string to float

34.07

In [20]:
value='$167367637+'

In [21]:
print(int(value[1:-1]))

167367637

In [22]:
print(chr(654525))  # it will display the character at that index

òŸ²½

In [23]:
with open('char.txt', 'w', errors='ignore') as f:
    for i in range(16000):  # it can be 16 million
        try:f.write(f'{i} {chr(i)}\n')
        except:pass
    print("done")

done

In [24]:
print(ord('a'))  # it will show the indexing value of a character
print(ord('9'))
print(ord('A'))
print(ord('0'))
print(ord('1'))
print(ord('2'))

97
57
65
48
49
50

In [25]:
a,b= "Mayank","Patel"

In [26]:
ab=a+' '+b
print(ab)

Mayank Patel

In [27]:
phrase="I am a problem solver and want to become data scientist "

In [28]:
print(phrase.capitalize())
print(phrase.upper())
print(phrase.lower())
print(phrase.split())
print(phrase.lstrip())
print(phrase.rstrip())
print(phrase.strip())

I am a problem solver and want to become data scientist
I AM A PROBLEM SOLVER AND WANT TO BECOME DATA SCIENTIST
i am a problem solver and want to become data scientist
['I', 'am', 'a', 'problem', 'solver', 'and', 'want', 'to', 'become', 'data', 'scientist']
I am a problem solver and want to become data scientist
I am a problem solver and want to become data scientist
I am a problem solver and want to become data scientist

In [29]:
def Rspace(phrase):
    return phrase.replace(" ", "") # remove spce from a string

Rspace(phrase)

'Iamaproblemsolverandwanttobecomedatascientist'

In [30]:
## STRING METHODS

In [31]:
msg='journey before destination'

In [32]:
msg.upper()

'JOURNEY BEFORE DESTINATION'

In [33]:
msg.capitalize()

'Journey before destination'

In [34]:
msg.title()

'Journey Before Destination'

In [35]:
msg.swapcase()

'JOURNEY BEFORE DESTINATION'

In [36]:
msg.casefold() #lowercase and casefold are same

'journey before destination'

In [37]:
# string utility methods

In [38]:
name= input('enter your name')
print(name)
print(len(name))

mayank
6

In [39]:
clean_name=name.strip() #strip remove leading and trailing spaces
print(clean_name.upper(), len(clean_name))

MAYANK 6

In [40]:
data='abcabcabacabacABCAACBAADJBNJifihjiaaa'
data.count('a')

9

In [41]:
data.count('a')+ data.count('A')

14

In [42]:
dataa='''once upon a time there was a hero who saved the world.
one day he went to sleep , the end'''

In [43]:
dataa.count('the')

3

In [44]:
words=dataa.split()
print(words, len(words))

['once', 'upon', 'a', 'time', 'there', 'was', 'a', 'hero', 'who', 'saved', 'the', 'world.', 'one', 'day', 'he', 'went', 'to', 'sleep', ',', 'the', 'end'] 21

In [45]:
dataa.split(',')

['once upon a time there was a hero who saved the world.\none day he went to sleep ',
 ' the end']

In [46]:
dataa.splitlines()

['once upon a time there was a hero who saved the world.',
 'one day he went to sleep , the end']

In [47]:
address_parts=[
    '250/20',
    'new vikash nagar',
    'near stadium',
    'raebareli',
    '229001',
]

In [48]:
print(address_parts)

['250/20', 'new vikash nagar', 'near stadium', 'raebareli', '229001']

In [49]:
' '.join(address_parts)

'250/20 new vikash nagar near stadium raebareli 229001'

In [50]:
','.join(address_parts)

'250/20,new vikash nagar,near stadium,raebareli,229001'

In [51]:
print('\n'.join(address_parts))

250/20
new vikash nagar
near stadium
raebareli
229001

In [69]:
msg='it is a story about the clown in the movie it'
msg.find('is',3,10)

3

In [67]:
def find_all(msg,query):
    pos=0
    idxs = []
    while True:
        pos=msg.find(query,pos)
        if pos>=0:
            idxs.append(pos)
            pos += 1
        else:
            break
    return idxs

In [70]:
find_all(msg,'it')

[0, 43]