String Indexing and slicing

In [48]:
wish="I want to be a data scientist"

In [49]:
print(wish[0]) # indexing

I

In [50]:
print(wish[0:100]) #slicing

I want to be a data scientist

In [51]:
print(wish[20:100])

scientist

In [52]:
print(wish[:4])

I wa

In [53]:
print(wish[5:])

t to be a data scientist

In [54]:
print(wish[4:len(wish)])

nt to be a data scientist

In [55]:
name="MAYANK PATEL"

In [56]:
print(name)

MAYANK PATEL

In [57]:
fname=name[:8]
print(fname)

MAYANK P

In [58]:
lname=name[9:]
print(lname)

TEL

In [59]:
print(fname,lname)

MAYANK P TEL

string reverse - with slicing

In [60]:
name[::-1]

'LETAP KNAYAM'

In [61]:
name[::2]

'MYN AE'

In [62]:
name[1::2]

'AAKPTL'

In [63]:
name[::-1][:9][::-1]

'ANK PATEL'

In [64]:
data='34.07%'

In [65]:
print(float(data[:-1]))   # string to float

34.07

In [66]:
value='$167367637+'

In [67]:
print(int(value[1:-1]))

167367637

In [68]:
print(chr(654525))  # it will display the character at that index

òŸ²½

In [69]:
with open('char.txt', 'w', errors='ignore') as f:
    for i in range(16000):  # it can be 16 million
        try:f.write(f'{i} {chr(i)}\n')
        except:pass
    print("done")

done

In [70]:
print(ord('a'))  # it will show the indexing value of a character
print(ord('9'))
print(ord('A'))
print(ord('0'))
print(ord('1'))
print(ord('2'))

97
57
65
48
49
50

In [71]:
a,b= "Mayank","Patel"

In [72]:
ab=a+' '+b
print(ab)

Mayank Patel

In [73]:
phrase="I am a problem solver and want to become data scientist "

In [74]:
print(phrase.capitalize())
print(phrase.upper())
print(phrase.lower())
print(phrase.split())
print(phrase.lstrip())
print(phrase.rstrip())
print(phrase.strip())

I am a problem solver and want to become data scientist
I AM A PROBLEM SOLVER AND WANT TO BECOME DATA SCIENTIST
i am a problem solver and want to become data scientist
['I', 'am', 'a', 'problem', 'solver', 'and', 'want', 'to', 'become', 'data', 'scientist']
I am a problem solver and want to become data scientist
I am a problem solver and want to become data scientist
I am a problem solver and want to become data scientist

In [75]:
def Rspace(phrase):
    return phrase.replace(" ", "") # remove spce from a string

Rspace(phrase)

'Iamaproblemsolverandwanttobecomedatascientist'

In [76]:
## STRING METHODS

In [77]:
msg='journey before destination'

In [78]:
msg.upper()

'JOURNEY BEFORE DESTINATION'

In [79]:
msg.capitalize()

'Journey before destination'

In [80]:
msg.title()

'Journey Before Destination'

In [81]:
msg.swapcase()

'JOURNEY BEFORE DESTINATION'

In [82]:
msg.casefold() #lowercase and casefold are same

'journey before destination'

In [83]:
# string utility methods

In [84]:
name= input('enter your name')
print(name)
print(len(name))

  mayank
10

In [85]:
clean_name=name.strip() #strip remove leading and trailing spaces
print(clean_name.upper(), len(clean_name))

MAYANK 6

In [86]:
data='abcabcabacabacABCAACBAADJBNJifihjiaaa'
data.count('a')

9

In [87]:
data.count('a')+ data.count('A')

14

In [88]:
dataa='''once upon a time there was a hero who saved the world.
one day he went to sleep , the end'''

In [89]:
dataa.count('the')

3

In [90]:
words=dataa.split()
print(words, len(words))

['once', 'upon', 'a', 'time', 'there', 'was', 'a', 'hero', 'who', 'saved', 'the', 'world.', 'one', 'day', 'he', 'went', 'to', 'sleep', ',', 'the', 'end'] 21

In [91]:
dataa.split(',')

['once upon a time there was a hero who saved the world.\none day he went to sleep ',
 ' the end']

In [92]:
dataa.splitlines()

['once upon a time there was a hero who saved the world.',
 'one day he went to sleep , the end']

In [93]:
address_parts=[
    '250/20',
    'new vikash nagar',
    'near stadium',
    'raebareli',
    '229001',
]

In [94]:
print(address_parts)

['250/20', 'new vikash nagar', 'near stadium', 'raebareli', '229001']

In [95]:
' '.join(address_parts)

'250/20 new vikash nagar near stadium raebareli 229001'

In [96]:
','.join(address_parts)

'250/20,new vikash nagar,near stadium,raebareli,229001'

In [97]:
print('\n'.join(address_parts))

250/20
new vikash nagar
near stadium
raebareli
229001